.navbar {
    display: grid;
    align-items: center;
    width: 100%;
    border: solid 1px lightgray;
    height: 50px;

}

.navbar ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 5px;
    list-style-type: none;
};

.navbar li {
    display: grid;
    justify-content: center;
}

.navbar button {
    background-color:black;
    color: white;
    border-radius: 10%;
    border-color: gray;
    border-width: 5px;
    width: 85px;
    height: 20px;
    font-size: 10px;
};

